{% load static %}


<html>
    <head>
        <title> Grey Kathurima</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       
    </head>
    <body>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-body h-100 border-info" id=""profile-wrapper">
                        <img id="profile-pic" src="{% static 'images/yes.jpeg' %}">
                        <br>
                        <h4>HI I am Rose</h4>
                        <h4>I love coding</h4>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card card-body border-info">
                        <h4>This is more about me</h4>
                        <br>
                        <p>lorem korem lorem korem lorem korem lorem korem lorem koremlorem koremlorem korem lorem korem lorem koremv lorem korem v vv v v lorem koremlorem koremlorem koremlorem koremlorem koremlorem koremlorem koremlorem koremlorem koremlorem korem</p>
                    
                        <ul class="social-links">
                            <li img class="social" src="{% static 'images/index.jpeg' %}"></li>
                            <li img class="social" src="{% static 'images/linkedin.png' %}"></li>
                            <li img class="social" src="{% static 'images/twitter.jpeg' %}"></li>
                            <li img class="social" src="{% static 'images/youtube.png' %}"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body  border-info"><h5>My Experience as A Developer</h5></div>
                
                    <p>Full Stack Engineer</p>
                    <br>
                    <p>a skilled software developer with 5 years of experience. Their expertise in programming and passion for technology drives them to create innovative and user-friendly solutions. With a strong track record of delivering projects on time. Beyond coding, they actively contribute to the developer community through open-source projects and knowledge-sharing.</p>
                </div>
                <div class="col-md-6 ">
                    <div class="card card-body border-info"><h4>What I Know</h4></div>
                    
                    <br>
                    <p> Proficient in multiple programming languages, including Python, Java, and JavaScript, John brings a wealth of technical expertise to the table. With a knack for problem-solving, he enjoys unraveling complex challenges and crafting elegant solutions.</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body border-info"> <h5>My short term goals</h5></div>
                   
                    <br>
                    <p>Learn new programming languages, frameworks, or technologies that are in demand locally or internationally. Participating in hackathons, coding competitions, or open-source projects could also be on their agenda to gain practical experience and build a strong portfolio. Networking and attending tech meetups within the local developer community may help them expand their professional connections. Ultimately, these short-term objectives will contribute to their growth as developers, increase their employability, and position them for exciting opportunities in Kenya's growing tech industry.</p>
                </div>
                <div class="col-md-6 ">
                    <div class="card card-body border-info">HOW I LEARN</div>
                    <p>Adopting diverse learning strategies to master their craft. Formal education, like computer science degrees, provides foundational knowledge. Online platforms such as Udemy and Coursera offer flexibility and accessibility to learn specific skills. Coding bootcamps provide immersive, hands-on experiences to rapidly upskill. Active participation in tech communities and meetups fosters knowledge exchange and networking. Contributing to open-source projects enables collaboration and practical experience. Devs also turn to tech blogs, forums, and social media for real-time updates and problem-solving insights. On-the-job learning in tech companies complements theoretical knowledge. Engaging in coding challenges and hackathons fosters creativity and problem-solving prowess. This diverse approach empowers Kenyan developers to excel in their careers.</p>
                </div>
            </div>
            <br>
        </div>
    </body>
    
</html>

